@use "../../style/variables" as *;
.container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  margin-top: 0.8em;
  text-align: center;
  @media (max-width: 768px) {
    margin-bottom: 1.5em;
  }
}

.text {
  color: $title-color;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  @media (max-width: $mobile-breakpoint) {
    font-size: 1em;
  }
}
.iconWrapper {
  color: $title-color;
  width: 30%;
  min-width: 10em;
  max-width: 15em;
  margin-bottom: 0.8em;
}
