@use "../../style/variables" as *;
.title {
  max-width: 540px;
  margin: 0 auto;
  padding: 2em 0 0.5em;
  text-align: center;
  font-weight: 600;
  color: $title-color;
}

.container {
  position: relative;
}

.sectionsWrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  min-height: 0; // Prevents grid blowout
  margin-bottom: 4rem;
}

.requestBadge {
  position: absolute;
  left: 50%;
  top: -10px; // Adjust this value to fine-tune the vertical position
  transform: translateX(-50%);
  background-color: $dark-accent;
  border-radius: 12px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.requestIcon {
  color: white;
  font-size: 0.8em;
  margin-right: 4px;
}

.requestCount {
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

.bookeRequestwrapper {
  position: relative;
  width: 9em;
  height: 14em;
  margin: 0 auto;
}
.yourLibrary {
  margin-bottom: 5em;
}

.noContent {
  // background-color: rgb(192, 184, 184);
  position: relative;
  width: 100%;
  background-color: $grey-5;
  padding: 1em 0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgb(0 0 0 / 11%);
  min-height: 276px;
}
