@use "../../style/variables" as *;

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 10;
}

.container {
  position: fixed;
  height: 100vh;
  width: 50%;
  max-width: 40em;
  min-width: 20rem;
  right: 0;
  top: 0;
  background-image: linear-gradient(#545454, #ffffff);
  z-index: 1001;

  @media (max-width: 768px) {
    width: 100%;
    max-width: none;
    min-width: auto;
  }
}

.header {
  height: 2rem;
  color: $grey-3;
  margin: 1rem 2rem;
}

.content {
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    @include webkit-scrollbar;
  }
  &::-webkit-scrollbar-thumb {
    @include webkit-scrollbar-thumb;
  }
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    @include hover-link;
  }
}

.slideIn {
  animation: slideIn 0.25s ease forwards;
}

.slideOut {
  animation: slideOut 0.25s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
