@use "../../style/variables" as *;

.container {
  margin-bottom: 4rem;
}

.libraryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $box-border-colors;
}

.title {
  color: $title-color;
  h1 {
    padding: 1em 0;
  }
}

.subtitle {
  padding: 1em 0;
  color: $title-color;
}

.section {
  position: relative;
  margin-bottom: 1em;
  min-height: 520px;
  background-color: $grey-1;
  padding: 1em 0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 40%);
}
