@use "../../style/variables" as *;

.arrow {
  font-size: 1.5em;
  color: black;

  &::before {
    content: "";
  }
  &:active,
  :hover {
    color: green;
  }
}

.sliderWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
}

:global(.slick-track) {
  // display: flex;
  // align-items: stretch;
  // margin-top: 1.5em;
}

//   :global(.slick-list) {
//     overflow: hidden;
//   }
// }

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
