@use "../../../../style/variables" as *;

.cardWrapper {
  margin-bottom: 1rem;
}

.container {
  min-height: 540px;
  position: relative;
  margin-bottom: 1em;
  // min-height: 420px;
  background-color: $grey-1;
  padding: 1em 0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 40%);
}
.showMoreWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showMore {
  margin-top: 1em;
}
